APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PORT=3306
DB_PASSWORD=secret

DB_SMS_HOST=localhost
DB_SMS_DATABASE=homestead
DB_SMS_USERNAME=homestead
DB_SMS_PORT=3306
DB_SMS_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file


###### Config Tambahan ######

NAMA_APP="Somelier"
ICON_DEPAN="fa fa-cubes"
ALLOWED_EXTENSION_FILEUPLOAD="xls|gif|jpe?g|pdf|png|mp4|mkv|rar"


EKSTENSI_GAMBAR=jpg,jpeg,gif,png
EKSTENSI_PDF=pdf

#tersedia :top-left, top,top-right,left,center,right,bottom-left,bottom,bottom-right
SETTING_POSISI_WATERMARK=bottom-right

#lokasi file: public/upload/watermark.png
NAMA_FILE_WATERMARK=watermark.png

#tersedia : gd, imagick
DRIVER_IMAGE=gd


#Keterangan app di halaman depan
DESKRIPSI_APP="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."



#####  Config untuk email  #####

EMAIL_PENGIRIM=youremail@example.com
NAMA_PENGIRIM="Your Name"
USERNAME_MAILGUN=username
PASSWORD_MAILGUN=secret

EMAIL_BACKUP_DB=youremail@example.com



##### Config untuk komentar berita disqus ######
DISQUS_SHORTNAME=disqus_shortname


##### Config header pesan di halaman login######
LOGIN_MSG_HEADER="Arsip Digital"

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_SENDER_NAME=null


PESAN_ERROR_404="error 404, page not found!"

JAM_BACKUP_DB="23:00"